@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}
.navbar {
  background-color: rgba(255, 255, 255, 0.15); // Semi-transparent white
  backdrop-filter: blur(10px);
  border-radius: 10px; // Optional: for rounded corners
  padding: 1rem; // Adjust padding as needed
  position: sticky;
  top: 0;
  z-index: 1000; // Ensure navbar is above other content
}

// Ensure the navbar text is visible against the light background
.navbar a {
  color: var(--foreground-rgb); // Use the defined foreground color for contrast
  text-decoration: none;
}